<p id="notice"><%= notice %></p>
<h1>WynBiz</h1>
<h3>A Place for Locals, and Local Business to Meet</h3>
<h2>Pictures</h2>


  <div>
    <% @pictures.each do |picture| %>
      <div>
        <div><%= picture.title %></div>
       <div><%=  link_to image_tag(picture.url), picture_path(picture)%></div>
        <div id="show"><%= link_to 'Show', picture_path(picture) %></div>
        <div id="edit"><%= link_to 'Edit', edit_picture_path(picture) %></div>
        <div id="destroy"><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>


<br>

<%= link_to 'New Picture', new_picture_path %>
