<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
      <a class="navbar-brand" href="index.html">Portfolio</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample09" style="">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="./index.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="index.html#about_me">About Me</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="./contact.html">Contact</a>
            </li>

            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social Media</a>
               <div class="dropdown-menu" aria-labelledby="dropdown09">
                  <a class="dropdown-item" href="https://twitter.com/htog13"><i class="devicon-twitter-plain"></i>
Twitter</a>
                  <a class="dropdown-item" href="https://github.com/thomasluis"><i class="devicon-github-plain"></i>
Github</a>
                  <a class="dropdown-item" href="https://www.linkedin.com/in/luis-thomas-7b68b114b/"><i class="fa fa-linkedin" aria-hidden="true"></i>
Linkedin</a>
               </div>
            </li>
         </ul>
   </div>
</nav>

   <div class="container" id="logo">


  <div class="row">


<h1  style="text-align: center"><img style=""src="rsz_locallove.png" alt="Local Love Logo"/> Local Love</h1>
<h3>A Place for Locals, and Local Businesses to Meet</h3>


<h2>Pictures</h2>

<div class="row">
  <div class="each_picture">
    <% @pictures.each do |picture| %>
  </div>
       <div class="col-6" style="display: inline-block">


        <div class="each_title"><%= picture.title %></div>
       <div><%=  link_to image_tag(picture.url), picture_path(picture)%></div>

       <div class="buttons">
        <p id="show"><%= link_to 'Click here to Write your Review', picture_path(picture) %></p>
        <!-- <p id="edit"><%= link_to 'Edit', edit_picture_path(picture) %></p> -->
        <!-- <p id="destroy"><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
      </div>
      </div>
      <!-- </div> -->
    <% end %>
  <!-- </div> -->


<br>
</div>
</div>

<!-- </div>
</div> -->
<!-- <div class="new_picture"><%#= link_to 'Add a New Picture', new_picture_path %></div> -->
