<!-- <p id="notice"><%= notice %></p> -->

<div class="container">
   <div class="row">

      <h1  style="text-align: center">
         <%= link_to pictures_path do %>
            <%= image_tag("/images/rsz_locallove.png") %>
         <% end %>
      </h1>



      <p class="each_title">
         <%= @picture.title %>
      </p>
      <div class="" style="width: 100%; display: flex">


         <div class="grid_box" style = "width: 50%">
            <%= image_tag @picture.url, class: 'image_full' %>
         </div>

         <!-- <h3 class="google_map each_title">Google Map</h3> -->
         <div id="map" class="each_title image_full" style="width: 50%">
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap">
            </script>
         </div>
      </div>
      <div class="each_title">

         <h2 class="review_body">Reviews</h2>

         <%= render partial: 'reviews/list', locals: { reviews: @picture.reviews } %>
         <% if user_signed_in? %>
            <h2 class="add_review each_title">Add a review:</h2>
            <%= render 'reviews/form' %>

            <%= link_to 'Back', pictures_path %>
            <% else %>
            <p>Sign in to create reviews!</p>
         <% end %>

      </div>


   </div>

</div>
