<!-- <p id="notice"><%= notice %></p> -->

<div class="container">
   <div class="row">

<h1  style="text-align: center">
   <%= link_to pictures_path do %>
      <%= image_tag("/images/rsz_locallove.png") %>
   <% end %>
</h1>



      <p class="each_title">
         <%= @picture.title %>
      </p>

      <div class="grid_box">
         <%= image_tag @picture.url, class: 'image_full' %>
      </div>
      <h3 class="google_map each_title">Google Map</h3>
      <p class="image_full each_title">
        <div id="map" class="each_title">
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap">
        </script>
        </div>
      </p>
<div class="each_title">

      <h2 class="review_body">Reviews</h2>

      <%= render partial: 'reviews/list', locals: { reviews: @picture.reviews } %>

      <h2 class="add_review each_title">Add a review:</h2>
      <%= render 'reviews/form' %>

      <%= link_to 'Edit', edit_picture_path(@picture) %> |
      <%= link_to 'Back', pictures_path %>

   </div>


   </div>

</div>
