

<h1 id="review_title">Reviews</h1>


      <div class="title">Title</div>
      <div class="author">Author</div>
      <div class="body">Body</div>
      <div class="picture">Picture</div>
      <th colspan="3"></th>

    <% @reviews.each do |review| %>
      <div>
        <div id="review_title"><%= review.title %></div>
        <div id="review_author"><%= review.author %></div>
        <div id="review_body"><%= review.body %></div>
        <div id="review_picture"><%= review.picture %></div>
        <div id="show_review"><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

<br>

<div class="new_review"><%= link_to 'New Review', new_review_path %></div>
